<!--MODAL CONTACT FORM-->
<!-- Button trigger modal -->
<div id="btnDivContact">
    <button type="button" class="btn btn-primary btnContact" data-toggle="modal" data-target="#exampleModalCenter">
        Kontakt
    </button>
</div>


<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content formBackgroundColor">



            <div class="modal-header">
                <h1 class="modal-title align-center">Kontakt aufnehmen</h1>
                <button id="btnContact" type="button" class="btn-close btn-close-white" data-dismiss="modal"
                    aria-label="Close"></button>
            </div>


            <div class="modal-body">

                <div class="row">

                    <!--Contact Form left side-->
                    <div class="col-6">
                        <img class="img-fluid" id="picContactform" src="/assets/images/picContactform.png" alt="image">
                    </div>

                    <!--Contact Form right side-->
                    <div class="col-6">

                        <div class="row mb-5">
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Vorname">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Nachname">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Vorname">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Nachname">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="form-group">
                                <textarea class="form-control" id="comment" rows="5"
                                    placeholder="Ihre Nachricht"></textarea>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnContactSend" type="submit" class="btn btn-primary">Senden</button>
            </div>



        </div>
    </div>
</div>

<script>
    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>