.btnContact {
    position: fixed;
    right: 0px;
    bottom: 50vh;
    margin-right: 10px;
    
}

.formBackgroundColor {
    background-color: var(
        --blue
    );
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
}