

.col-background {
    background-color: var(--blue);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

h1 
{
    color:var(--blue);
    font-size: 40px;
    font-weight: bold;
  }

h2 
  {
    color: white;
    font-size: 32px;
  }

.doc-list
{
    color: white;
   
}