<br>
<br>
<br>



<div class="container">

  <div class="row">
    <div class="col-4">
      <h1 class="text-center">Schweiz</h1>
    </div>
    <div class="col-4">
      <h1 class="text-center">EU</h1>
    </div>
    <div class="col-4">
      <h1 class="text-center">Branchennormen</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-background">
      <div class="doc-list">
        <ul>
          <li>BV (Bundesverfassung)</li>
          <li>MepV (Medizinprodukteverordnung)</li>
          <a routerLink="docselected/doc-ch-e-851d-4c26-852e-0375e63dd73f">
            <li>HFG (Humanforschungsgesetz)</li>
          </a>
          <li>KlinV-MepV (Verordnung über klinische Versuche mit Medizinprodukten)</li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div class="row col-background">
        <h2 class="text-center">Neu</h2>
        <div class="doc-list">
          <ul>
            <li>MDR (Medizinprodukteverordnung)</li>
            <li>IVDR (In-Vitro-Diagnostik)</li>
          </ul>
        </div>
      </div>

      <div class="row col-background">
        <h2 class="text-center">Alt</h2>
        <div class="doc-list">
          <ul>
            <li>MDD (Medizinprodukteverordnung)</li>
            <li>AIMD (aktive implantierbare Medizinprodukte)</li>
            <li>IVD (In-Vitro-Diagnostik)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4 col-background">
      <div class="doc-list">
        <ul>
          <li>DIN EN ISO 13485 – Medizinprodukte</li>
          <li>ISO 9001 – Qualitätsmanagement</li>
          <li>DIN EN ISO 14155 – Klinische Prüfung medizinischer Produkte</li>
          <li>ISO 14971 – Risikomanagement medizinischer Produkte</li>
          <li>IEC 60601 – Medizinische elektrische Geräte</li>
          <li>IEC 62304 Standard für Software für Medizinprodukte</li>
          <li>IEC 62133 – Aufladbare Akkumulatoren und Batterien</li>
          <li>IEC 60086-4 – Lithium-Batterien</li>
          <li>DIN 58298 – Fachgrundnorm für medizinische Instrumente</li>
          <li>DIN EN ISO 22870 – Patientennahe Untersuchungen (POCT)</li>
          <li>DIN EN ISO 23640 – In-vitro-Diagnostika</li>
        </ul>
      </div>
    </div>
  </div>
</div>