
.doccontainer {  
    display: grid;
    grid-template-columns: 0.75fr 2fr 1fr;
    grid-template-rows: 125px 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "docplaceholder              documentheader    sidebar"
      "navigation                   doccontent           sidebar";
}
  
.documentheader { grid-area: documentheader;}
  
.sidebar { grid-area: sidebar; padding: 0 24px;}
  
.navigation {
    grid-area: navigation;
    max-width: 300px;
    overflow-x: hidden;
    padding: 24px;
}
  
.doccontent {
    grid-area: doccontent;
    overflow-y: hidden;
    padding: 24px;
}

.docplaceholder {
    grid-area: docplaceholder;
}

.docNav {
    color: var(--greyFour);
    text-decoration: none;
}


.docBgColor {
    background-color: var(--greyTwo);
}


.ctrlArea {
    background-color: var(--greyTwo);
}

.highlighted {
    display: inline;
    background-color: yellow;
}

.scrollable-nav {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: top;
}
