<div class="doccontainer">
    <div class="docplaceholder ctrlArea"></div>

    <div class="documentheader ctrlArea">
        <div class="row">
            <div class="col-6">
                <h2>Fassung</h2>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedDate"
                    (ngModelChange)="onChange()">

                    <option *ngFor="let date of dates" [value]="date">
                        {{date}}
                    </option>

                </select>
            </div>
            <div class="col-6">
                <h2>Anzeige geänderte Artikel</h2>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" unchecked
                        [disabled]="selectedDate == dates[0]" [(ngModel)]="showChangedChecked"
                        (ngModelChange)="onChecked()">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Anzeige geänderte
                        Artikel</label>
                </div>
            </div>
        </div>

    </div>
    <div class="sidebar">
        <app-docsidebar [relatedDocument]="selectedDocument"></app-docsidebar>
    </div>
    <div class="navigation">


        <ul>
            <li *ngFor="let chapter of selectedDocument?.tabSubOneChEntities">
                <a class="clickable docNav" (click)="onClick(chapter.id)">
                    {{chapter.title}}
                </a>

                <ul *ngIf="chapter.tabSubThreeChEntities.length > 0">
                    <li *ngFor="let article of chapter.tabSubThreeChEntities">
                        <a class="clickable docNav" (click)="onClick(article.id)">
                            {{article.title}}
                        </a>
                    </li>
                </ul>

                <ul *ngIf="chapter.tabSubTwoChEntities.length > 0">

                    <li *ngFor="let article of chapter.tabSubThreeChEntities">
                        {{article.title}}
                    </li>

                    <li *ngFor="let section of chapter.tabSubTwoChEntities">
                        <a class="clickable docNav" (click)="onClick(section.id)">
                            {{section.title}}
                        </a>
                        <ul *ngIf="section.tabSubThreeChEntities.length > 0">
                            <li *ngFor="let article of section.tabSubThreeChEntities">
                                <a class="clickable docNav" (click)="onClick(article.id)">
                                    {{article.title}}
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>
        </ul>


    </div>

    <div class="doccontent">
        <div class="col-9 scrollable">

            <h1 [innerHTML]="selectedDocument?.titleLong | sanitizeHtml"></h1>
            <h1 [innerHTML]="selectedDocument?.titleShort"></h1>
            <p [innerHTML]="selectedDocument?.content"></p>

            <div *ngFor="let chapter of selectedDocument?.tabSubOneChEntities">
                <h2 id="{{chapter.id}}" [innerHTML]="chapter.title | sanitizeHtml"></h2>

                <div *ngFor="let section of chapter.tabSubTwoChEntities">
                    <h3 id="{{section.id}}" [innerHTML]="section.title | sanitizeHtml"></h3>

                    <div *ngFor="let article of section.tabSubThreeChEntities">
                        <h4 id="{{article.id}}" [innerHTML]="article.title | sanitizeHtml"></h4>
                        <p [innerHTML]="article.content | sanitizeHtml"></p>
                    </div>


                </div>

                <div *ngFor="let article of chapter.tabSubThreeChEntities">
                    <h4 id="{{article.id}}" [innerHTML]="article.title | sanitizeHtml"></h4>
                    <p [innerHTML]="article.content | sanitizeHtml"></p>
                </div>



            </div>
        </div>
    </div>



</div>

