




<div class="container py-5">
    <h1 class="text-center pb-3">FAQ</h1>
  <!--NEWS-->
    <div class="card-deck row">
      <div class="card col-3">
        <h2 class="card-title text-center pt-4">Titel 1</h2>
        <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
        <div class="footer pb-3">
            <button id="btnContactSend" type="submit" class="btn btn-primary">Zu den Fragen</button>  
        </div>
    </div>
      <div class="card col-3">
        <h2 class="card-title text-center pt-4">Titel 2</h2>
        <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
        <div class="footer pb-3">
            <button id="btnContactSend" type="submit" class="btn btn-primary">Zu den Fragen</button>  
        </div>
      </div>
      <div class="card col-3">
        <h2 class="card-title text-center pt-4">Titel 3</h2>
        <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
        <div class="footer pb-3">
            <button id="btnContactSend" type="submit" class="btn btn-primary">Zu den Fragen</button>  
        </div>
      </div>
      <div class="card col-3">
        <h2 class="card-title text-center pt-4">Titel 4</h2>
        <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
        <div class="footer pb-3">
            <button id="btnContactSend" type="submit" class="btn btn-primary">Zu den Fragen</button>  
        </div>
      </div>
    </div>
  </div>
  