
<div>
  <div class="header">
    <app-nav></app-nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

<app-contactbutton></app-contactbutton>