

h1 {
    color:var(--blue);
    font-size: 40px;
  }

  h2 
  {
    color: var(--blue);
    font-size: 32px;
  }
  
  
  /*Contact Form: Button Send*/
  #btnContactSend
  {
    border-color: var(--blue) !important;
    background-color: var(--white) !important;
    color: var(--blue);
    transition: all 1s;
  }
  
  #btnContactSend:hover
  {
    border-color: var(--white) !important;
    background-color: var(--blue) !important;
    color: var(--white);
  }


.conBgGrey {
    background:var(--greyOne);
}

.card-img-top
{
  width: 75% !important;
}