


<div class="conBgGrey py-5">
    <div class="container">
    <h1 class="text-center pb-3">Infografik</h1>
      <div class="card-deck row">
        <div class="card col-6">
          <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
        </div> 
        <div class="card col-6">
          <div class="card-body">
            <h2 class="card-title">Infografik 1</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <div class="footer pb-3">
            <button id="btnContactSend" type="submit" class="btn btn-primary">Erfahre mehr</button>  
          </div>
        </div>
      </div> 
    </div>
</div>


