/* :root {
    --darkblue: #3A7590;
    --blue: #57AFD7;
    --lightblue: #C8EBFA;
    
    --white: #FFFFFF;
    --greyOne: #F3F3F3;
    --greyTwo: #DBDBDB;
    --greyThree: #898989;
    --greyFour: #4C4C4C;




} */
body, html {
    height: 100%;
}


.navBackgroundColor {
    background: var(--blue);
}     

.nav-item {
    color: var(--greyFour);
}



/* .container, .headerCustom
{
    height: 40%;
    background-color: var(--blue);
    max-width: inherit;
} */

#imgHome
{
    max-width: 25%;
    height: auto;

}

.sharpGradient
{
    background: linear-gradient(to bottom, #57AFD7 70%, #ffffff 30%, #ffffff);

}

.nav-item
{
    font-size: 20px;
    font-weight: bold;
    padding-left: 100px;
}

.nav-item:hover
{
    color: white;
    transition: all 1s;
}





/*FORM*/
#conForm
{
    padding: 2.5%;
    background-color: var(--blue);
}

#picContactform
{
    max-width: 65%;
}


h1{
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.formBackgroundColor {
    background: var(--blue);
}     


#btnDivContact
{
    /* float:right !important; */
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */

    
}

#btnContact 
{
    float: right !important; 
    display: flex;
    position: sticky !important;

   
}

/*Contact Form: Button Send*/
#btnContactSend
{
    border-color: var(--white) !important;
    background-color: var(--blue) !important;
    color: var(--white);
}

#btnContactSend:hover
{
    border-color: var(--blue) !important;
    background-color: var(--white) !important;
    color: var(--blue);
    transition: all 1s;
}

