<nav class="navbar navbar-expand-lg navBackgroundColor pt-3">
  <a class="navbar-brand" href="#">Logo</a>

  <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center">
    <div class="navbar-nav">
      <a class="nav-item nav-link mx-5 active" href="#">Home </a>
      <a class="nav-item nav-link mx-5" href="#">Information für die Praxis</a>
      <a class="nav-item nav-link mx-5" href="#">Finde deine</a>
      <a class="nav-item nav-link mx-5" href="#">Import/Export</a>
      <a class="nav-item nav-link mx-5" routerLink="docoverview">Tool</a>
      <a class="nav-item nav-link mx-5" href="#">Kontakt</a>
    </div>
  </div>
</nav>


<div class="sharpGradient" style="display: flex; justify-content: flex-end">
  <img id="imgHome" class="img-fluid" src="/assets/images/picHome.png" alt="image">
</div>