



:root {
    --darkblue: #3A7590;
    --blue: #57AFD7;
    --lightblue: #C8EBFA;
    
    --white: #FFFFFF;
    --greyOne: #F3F3F3;
    --greyTwo: #DBDBDB;
    --greyThree: #898989;
    --greyFour: #4C4C4C;
}


/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.nav-item
{
  color: red;
}

h1 
  {
    color:var(--blue);
    font-size: 40px;
    font-weight: bold;
  }

h2 
  {
    color: white;
    font-size: 32px;
  }

.doc-list
{
    color: white;
   
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: var(--greyFour);
  font-weight: bolder;
}