

<div class="container my-4">
  <h1 class="text-center pb-3">Aktuelles</h1>
<!--NEWS-->
  <div class="card-deck row">
    
    <div class="card col-3">
      <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Titel 1</h2>
        <p class="card-text"><small class="text-muted">28.10.2021</small></p>
        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
      <div class="footer pb-3">
        <button id="btnContactSend" type="submit" class="btn btn-primary">Erfahre mehr</button>  
      </div>
    </div>

    <div class="card col-3">
      <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Titel 2</h2>
        <p class="card-text"><small class="text-muted">28.09.2021</small></p>
        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
      </div>
      <div class="footer pb-3">
        <button id="btnContactSend" type="submit" class="btn btn-primary">Erfahre mehr</button>  
      </div>
    </div>

    <div class="card col-3">
      <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Titel 3</h2>
        <p class="card-text"><small class="text-muted">28.08.2021</small></p>
        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua eirmod tempor invidunt ut labore et dolore magna.</p>
      </div>
      <div class="footer pb-3">
        <button id="btnContactSend" type="submit" class="btn btn-primary">Erfahre mehr</button>  
      </div>
    </div>

    <div class="card col-3">
      <img class="card-img-top" src="/assets/images/picContactform.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Titel 4</h2>
        <p class="card-text"><small class="text-muted">28.07.2021</small></p>
        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
      <div class="footer pb-3">
        <button id="btnContactSend" type="submit" class="btn btn-primary">Erfahre mehr</button>  
      </div>
    </div>
  </div>
</div>
