h1 {
    color:var(--blue);
    font-size: 40px;
  }
  
  h2 
  {
    color: var(--blue);
    font-size: 32px;
  }
  
  h3 {
    color: var(--white);
    font-size: 24px;
  }
  
  
  
  /*Contact Form: Button Send*/
  #btnPostComment, #btnCancelComment
  {
    border-color: var(--blue) !important;
    background-color: var(--white) !important;
    color: var(--blue);
    transition: all 1s;
  }
  
  #btnPostComment:hover, #btnCancelComment:hover
  {
    border-color: var(--white) !important;
    background-color: var(--blue) !important;
    color: var(--white);
  }
  
  
  
  
  
  
  
  
  .conBgBlue{
    background-color: var(--blue);
  }
  
  .conBgGrey{
    background-color: var(--greyOne);
  }
  
  .commentStyle {
    
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    background-color: var(--white);
    padding: 2%; 
    
    border: 1px solid grey !important;
    
    /*border-bottom: 1px solid white !important;*/
  }
  
  
  .commentContainer {
    /* width: 40vw; */
    height: 30vh;
    border: 1px solid var(--greyThree); 
    margin: auto;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }
  
  
  
  li {
    color: var(--white);
    list-style-type: none;
  }