<!--Comments-->
<div>

    <div class="conBgGrey px-3 pt-3 pb-1">
      <h2>Kommentar</h2>
    </div>
  
    <div class="conBgBlue px-3 py-3">
      <h4 *ngIf="comments.length > 1">Dieses Dokument hat <b>{{comments.length}}</b> Kommentare</h4>
      <h4 *ngIf="comments.length == 1">Dieses Dokument hat <b>{{comments.length}}</b> Kommentar</h4>
      <h4 *ngIf="comments.length == 0">Dieses Dokument hat keine Kommentare</h4>

      <div class="form-group" class="my-3">
  
        <input type="input" class="form-control" [(ngModel)]="comment.name" name="inp_name"
          placeholder="Bitte geben Sie ihr Name ein">
      </div>
  
      <div class="form-group" class="my-3">
        <textarea type="input" class="form-control" [(ngModel)]="comment.comment" name="txtarea_comment" rows="5"
          placeholder="Bitte geben Sie ihr Kommentar ein">
        </textarea>
      </div>
  
      <button type="submit" id="btnPostComment" class="btn" (click)="save()">Kommentieren</button>
      <button type="submit" id="btnCancelComment" class="btn" (click)="clear()">Abbrechen</button>
    </div>
  
    <!--Show DB rows: name, comment, date-->
    <div class="conBgGrey px-3 py-3 ">
      <div class="form-group conBgGrey commentContainer">
        <div *ngFor="let comment of comments" class="conBgBlue commentStyle my-3">
          <h4>{{comment.name}}</h4>
          <p class="p_comment">{{comment.comment}}</p>
          <h5>{{comment.currentDate}}</h5>
    
        </div>
      </div>
    </div>
  
    <!-- Materialien -->
    <div class="pt-4">
      <!-- <div class="col-4">  -->
      <div class="conBgGrey px-3 pt-3 pb-1">
        <h2>Materialien</h2>
      </div>
      <div class="conBgBlue px-3 py-3">
        <ul>
          <li>Material eins</li>
          <br>
          <li>Material zwei</li>
          <br>
          <li>Material drei</li>
          <br>
          <span>
            <li>Material vier <i class="bi bi-box-arrow-up-right"></i></li>
          </span>
        </ul>
      </div>
      <!-- </div> -->
  
    </div>
   
    <!--Rechtsprechung-->
    <div class="pt-4">
  
      <div class="conBgGrey px-3 pt-3 pb-1">
        <h2>Rechtsprechung</h2>
      </div>
      <div class="conBgBlue px-3 py-3">
        <ul>
          <li>Rechtsprechung Bundesgericht 1</li>
          <br>
          <li>Rechtsprechung Bundesgericht 2</li>
          <br>
          <li>Rechtsprechung Bundesgericht 3</li>
          <br>
          <span>
            <li>Material vier <i class="bi bi-box-arrow-up-right"></i></li>
          </span>
        </ul>
      </div>
  
    </div>
  
  </div>